TOKEN=ton_token_bot_ici
CLIENT_ID=ton_client_id_ici
GUILD_ID=ton_guild_id_ici

# Channels
CHANNEL_ARRIVEE=id_channel_arrivee
CHANNEL_LOGS=id_channel_logs
CHANNEL_TICKETS=id_channel_tickets

# Rôles
ROLE_MEMBRE=id_role_membre
ROLE_NON_VERIFIE=id_role_non_verifie
ROLE_MODO=id_role_modo
